# 02-Imprimiendo

# La función print()

In [1]:
print("Hello World")

Hello World

TIP:

En Python, las comillas simples, dobles y triples se utilizan para denotar una cadena o *string*. <br>
La mayoría usa comillas simples al declarar un solo carácter. <br>
Comillas dobles al declarar una línea y ... <br>
Comillas triples al declarar un párrafo / varias líneas.

In [2]:
print('A')

A

In [3]:
print("Hello World")

Hello World

In [4]:
print ("""My name is <write your name here> and

I love Python.""")

My name is <write your name here> and

I love Python.

Las cadenas se pueden asignar a una variable, por ejemplo, _string1_ y _string2_, las cuales se pueden llamar cuando se usa la función de impresión.

In [5]:
string1 = 'World'
print('Hello', string1)

string2 = '!'
print('Hello', string1, string2)

Hello World
Hello World !

La concatenación de cadenas es la "suma" de dos cadenas. Observe que durante la concatenación no habrá espacio entre las dos cadenas o strings.

In [6]:
print('Hello' + string1 + string2)

HelloWorld!

# String formating (formateo)

## La vieja escuela

## Opción 1: %-formatting

In [7]:
nombre = "Juan"
"Hola, %s." % nombre

'Hola, Juan.'

In [8]:
nombre = "Juan"
edad = 34

"Hola, %s. Tú tienes %s años." % (nombre, edad)

'Hola, Juan. Tú tienes 34 años.'

In [9]:
# Si las líneas a imprimir son más de una necesitaremos usa la función print()
nombre2 = "Andrea"
edad2 = 38
"Hola, %s. Tú tienes %s años." % (nombre, edad)
"Hola, %s. Tú tienes %s años." % (nombre2, edad2)

'Hola, Andrea. Tú tienes 38 años.'

In [10]:
# Ahora si la salida estándar (la pantalla) mostrará las dos sentencias
print("Hola, %s. Tú tienes %s años." % (nombre, edad))
print("Hola, %s. Tú tienes %s años." % (nombre2, edad2))

Hola, Juan. Tú tienes 34 años.
Hola, Andrea. Tú tienes 38 años.

Esta lógica de formateo resultó ser muy verborreica (verbose) y propensa a errores

In [11]:
nombre = "Juan"
apellido = "Perez"
edad = 74
profesion = "comediante"
afiliacion = "Monty Python"
"Hola, %s %s. Tú tienes %s años. Eres un %s. Eres miembro de %s." % (nombre, apellido, edad, profesion, afiliacion)

'Hola, Juan Perez. Tú tienes 74 años. Eres un comediante. Eres miembro de Monty Python.'

## Opción 2: str.format()

En esta opción, se reemplazarán los campos marcados con corchetes {}

In [13]:
"Hello {}".format(string1)

'Hello World'

In [14]:
print("Hello {}".format(string1))

Hello World

In [15]:
# Podemos manejar la posición de las variables en el string de salida
"Hola, {}. Tu tienes {}.".format(nombre, edad)

'Hola, Juan. Tu tienes 74.'

In [16]:
"Hola, {1}. Tu tienes {0}.".format(edad, nombre)

'Hola, Juan. Tu tienes 74.'

Podemos utilizar otras notaciones numéricas durante el formateo

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
Pueden ser utilizados dentro de la función print() para convertir los tipos de datos

In [17]:
# Utilizando la Opción 1

print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

In [18]:
# Utilizando la opción 2

print ("Actual Number = {:d}".format(18))
print ("Float of the number = {:f}".format(18))
print ("Octal equivalent of the number = {:o}".format(18))
print ("Hexadecimal equivalent of the number = {:x}".format(18))
print ("Exponential equivalent of the number = {:e}".format(18))

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

## <font color='green'>TAREA:</font> Completa las líneas de código
Complete las siguientes 10 líneas de código de forma tal que todas las sentencias se impriman correctamente.<br>
Analice y comente las diferentes salidas

In [32]:
print('{1} {0}'.format('one', 'two')) # usando índice
print('{:>10}'.format('test')) # tabulación
print('{:10}'.format('test'))  # Alineación izquierda

# numeros
print('{:d}'.format(42))
print('{:f}'.format(3.141592653589793))
print('{:4d}'.format(42)) # padding
print('{:06.2f}'.format(3.141592653589793))
print('{:04d}'.format(42))
print('{: d}'.format((- 23)))
print('{first} {last}'.format(first='Hello', last='world!'))

two one
      test
test
42
3.141593
  42
003.14
0042
-23
Hello world!

<font color='green'>Fin tarea</font>

In [20]:
print("Hello {:s} {:s}".format(string1,string2))

Hello World !

## Otros ejemplos

Las siguientes son otras formas diferentes de utilizar la declaración de impresión.

In [33]:
print ("I want to be printed {:s}".format('here'))

I want to be printed here

In [34]:
print('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [35]:
# Con el caracter de control \n saltamos una línea
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [36]:
# Si queremos imprimier el caracter \n sin saltar línea diplicamos el backslash
print("I want \\n to be printed.")

I want \n to be printed.

In [37]:
# Con \t generamos una tabulación
print("Look\twhat\thappens.")

Look	what	happens.

In [38]:
print("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

## Manejando la precisión y la cantidad de números a mostrar

El ancho del campo es el ancho del número completo y la precisión es el ancho hacia la derecha. Se pueden modificar estos anchos según los requisitos.
El ancho de precisión predeterminado se establece en 6.

In [39]:
# predeterminado = 6
"%f" % 3.121312312312

'3.121312'

Observa que se devuelven hasta 6 decimales. Para especificar el número de decimales, se utiliza '% (fieldwidth). (precisionwidth) f'.

In [42]:
"%.5f" % 3.121312312312

'3.12131'

### Lo mismo pero usando la opción 2 con str.format()
Cuál es la diferencia? 

TIP: busca en los pequeños detalles

In [43]:
print("{:.5f}".format(3.121312312312))

3.12131

In [44]:
type("%.5f" % 3.121312312312)

str

In [45]:
# NoneType
type(print("{:.5f}".format(3.121312312312)))

3.12131

NoneType

Si el ancho del campo se establece más de lo necesario, los datos a la derecha se alinean para ajustarse a los valores especificados.

In [46]:
"%9.5f" % 3.121312312312

'  3.12131'

## <font color='green'>Tarea:</font> Escribe sentencias con str.format()
Escriba las sentencias utilizando la opción 2 con str.format()

In [47]:
# "%9.5f" % 3.121312312312
# Tu código aquí...
"{:9.5f}".format(3.121312312312)

'  3.12131'

El relleno de ceros (zero padding) se realiza agregando un 0 al comienzo del ancho de campo.

In [49]:
# "%020.5f" % 3.121312312312
# Tu código aquí...
"{:020.5f}".format(3.121312312312)

'00000000000003.12131'

<font color='green'>Fin tarea</font>

Para una alineación adecuada, se puede dejar un espacio en blanco en el ancho del campo para que cuando se use un número negativo, se mantenga la alineación adecuada.

In [53]:
print("{:10f}".format(3.121312312312))
print("{:10f}".format(-3.121312312312))

  3.121312
 -3.121312

Como se mencionó anteriormente, los datos a la derecha se alinean cuando el ancho del campo mencionado es mayor que el ancho del campo real. Pero la alineación a la izquierda se puede hacer especificando un símbolo negativo en el ancho del campo.

## <font color='green'>Tarea:</font> Cuál es la diferencia?
Abra una nueva celda debajo de la siguiente y escriba un texto (como este en modo Markdown) que explique cuál es la diferencia entre las dos declaraciones de impresión.

In [54]:
print("{:9.3f}".format(3.121312312312))
print("{:.3f}".format(3.121312312312))

    3.121
3.121

R: La primera declaración posee padding de 9 dígitos, utilizando un ancho de campo de 9 según '% (fieldwidth). (precisionwidth) f'.

<font color='green'>Fin tarea</font>

## La nueva escuela

## Opción 3: f-Strings

La sintaxis es similar a la que usó con str.format () pero menos detallada (verbose). Mira lo fácil de leer que es:

In [55]:
nombre = "Pedro"
edad = 42
f"Hola, {nombre}. Tu tienes {edad} años."

'Hola, Pedro. Tu tienes 42 años.'

In [56]:
# la f puede ser mayúscula tambien
F"Hola, {nombre}. Tu tienes {edad} años."

'Hola, Pedro. Tu tienes 42 años.'

Los f-strings pueden evaluar operaciones en su interior

In [58]:
f'{2 * 8}'

'16'

In [59]:
f'{2} x {8} = {2 * 8}'

'2 x 8 = 16'

In [60]:
# Igual que antes, si queremos imprimir más de una sentencia, deberemos usar la función print()
F"Hola, {nombre}. Tu tienes {edad} años."
F"Hola, {nombre2}. Tu tienes {edad2} años."

'Hola, Andrea. Tu tienes 38 años.'

In [61]:
print(F"Hola, {nombre}. Tu tienes {edad} años.")
print(F"Hola, {nombre2}. Tu tienes {edad2} años.")

Hola, Pedro. Tu tienes 42 años.
Hola, Andrea. Tu tienes 38 años.

In [62]:
mensaje = (
    F"Hola, {nombre}. Tu tienes {edad} años. \n"
    F"Hola, {nombre2}. Tu tienes {edad2} años."
)
print(mensaje)

Hola, Pedro. Tu tienes 42 años.
Hola, Andrea. Tu tienes 38 años.

In [1]:
# Otras notaciones numéricas utilizando la Opción 3
val = 18
print (f"Actual Number = {val: d}")
print (f"Float of the number = {val: f}")
print (f"Octal equivalent of the number = {val :o}")
print (f"Hexadecimal equivalent of the number = {val :x}")
print (f"Exponential equivalent of the number = {val :e}")

Actual Number =  18
Float of the number =  18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

## Manejando la precisión y la cantidad de números a mostrar

In [2]:
val2 = 3.121312312312
print(f"{val2:.2f}")
print(f"{val2:.5f}")
print(f"{val2:9.5f}")
print(f"{val2:09.5f}")

3.12
3.12131
  3.12131
003.12131

## Justificando y manejo de ancho con f-strings

In [3]:
s1 = 'a'
s2 = 'ab'
s3 = 'abc'
s4 = 'abcd'

print(f'{s1:>10}')
print(f'{s2:>10}')
print(f'{s3:>10}')
print(f'{s4:>10}')

         a
        ab
       abc
      abcd

## <font color='green'>Tarea:</font> Manejo de ancho con f-strings
Ejecuta el siguiente ejemplo y luego desarrolla el desafío

In [4]:
# El siguiente ejemplo imprime tres columnas del mismo ancho

for x in range(1, 11):
    print(f'{x:2} {x:5} {x:5}')

 1     1     1
 2     2     2
 3     3     3
 4     4     4
 5     5     5
 6     6     6
 7     7     7
 8     8     8
 9     9     9
10    10    10

In [ ]:
# Crea tres columnas similares a las anteriores en cuyas filas se escriba el número, su potencia de dos y su potencia de tres
# El ancho de las columnas debe ser 2 para la primera, 3 para la segunda y 4 para la tercera
# Tu código aquí...

for x in range(1, 11):
    print(....

<font color='green'>Fin tarea</font>

## Ingresando datos desde el teclado

In [ ]:
input("Mi nombre es: ")

## <font color='green'>Tarea:</font> Almacene el dato ingresado en una variable
Almacene su nombre en una variable
TIP: utilice la función input()

In [ ]:
# Tu código aquí ...

<font color='green'>Fin tarea</font>

## <font color='green'>Tarea:</font> Escribe "Hello world" con tu nombre
Escribe "Hello world, \<nombre\>" utilizando los tres métodos de formateo enseñados en la clase <br>

TIP: utiliza la variable que contiene tu nombre<br>
OUTPUT: "Hello world, Andrés!!"

In [ ]:
# Tu código aquí ...

<font color='green'>Fin tarea</font>

# <font color='blue'>Tiempo de revisión grupal</font>
La **Bitácora Grupal** es la herramienta de evaluación de este curso. La misma estará conformada por todos los **Notebooks Grupales** de cada una de las clases y módulos del curso. Los grupos de trabajo deben desarrollarla de forma colaborativa y creativa.

Rúbrica de la **Bitácora Grupal** y de los **Notebook Grupal** que la componen:
* El notebook se ve ordenado y con una secuencia lógica y limpia.
* El notebook no tiene celdas en blanco innecesarias.
* El notebook no tiene celdas con errores, salvo aquellas en las que explícitamente queremos mostrar un error.
* Todos los ejercicios propuestos están correctamente desarrollados.
* Los ejercicios tiene comentarios y reflexiones del grupo.
* El notebook tiene abundantes comentarios explicativos del código.
* El notebook tiene una sección adicional, creada por el grupo, con experimentos de los alumnos relativos al contenido del mismo.
* La Bitácora Grupa, y por ende los notebooks que la componen, tiene aspectos creativos y novedoso que la diferencian significativamente de las de los demás grupos.