# 08-Conjuntos en Python (Sets)

Presentamos los *sets*. ¡Otra estructura de datos importante en Python!

Los conjuntos son una colección **desordenada** de elementos **únicos**. 

Podemos construirlos usando la función **set()**. Sigamos adelante y hagamos un conjunto para ver cómo funciona:

## Creando Sets

In [1]:
# Creamos un set llamado 'x'

x = set()

In [2]:
# como siempre verificamos el tipo 

type(x)

set

In [3]:
# Agreguémosle un elemento

x.add(1)

In [4]:
# No te confundas con las llaves de los diccionarios

x

{1}

In [5]:
x.add(2)

In [6]:
x

{1, 2}

Ten en cuenta las llaves. ¡Esto no indica un diccionario! Aunque se podría hacer la analogía a que un conjunto como un diccionario con solo claves.

Sabemos que un conjunto solo tiene entradas únicas. Entonces, ¿qué sucede cuando intentamos agregar algo que ya está en un conjunto?

In [7]:
# Nota cómo la siguiente sentencia NO colocará otro 1 en el set 'x'
# Eso es porque un conjunto solo se ocupa de elementos únicos!

x.add(1)

In [8]:
x

{1, 2}

In [9]:
# Podemos añadir un -1 porque es diferente de 1

x.add(-1)

In [10]:
x

{-1, 1, 2}

In [11]:
# Podemos eliminar un elemento

x.discard(2)

In [12]:
x

{-1, 1}

In [13]:
# Podemos añadir varios elementos

x.update([-1, 3, 4, 5])

In [14]:
x

{-1, 1, 3, 4, 5}

In [17]:
# Podemos sacar un elemento con pop()

x.pop()

3

In [18]:
# Qué elemento saca? El primero? El último? Uno aleatorio?

x

{-1, 4, 5}

Podemos crear un set a partir de una lista con múltiples elementos repetidos para obtener los elementos únicos. Por ejemplo:

In [19]:
# Creamos una lista 'mylist' con varios elementos repetidos

mylist = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3]

In [20]:
# Ahora creamos un set a partir de la lista 'mylist'

set(mylist)

{1, 2, 3}

Podemos crear de forma rápida un conjunto solo con {}

In [21]:
myset = {1, 2, 3}

In [22]:
type(myset)

set

In [23]:
# Pero atención, no puede estar vacía ya que si nó crearíamos una diccionario
myset2 = {}
type(myset2)

dict

In [25]:
# Para crear un set vacía usa el constructor
myset3 = set()
type(myset3)

set

## <font color='green'>Tarea:</font> Crea un set con 5 elementos del tipo float
Crea un set llamado 'a'

Tip: 
1. Usa el método set()
2. Recuerda el uso de floats con punto decimal como 4.3 or 0.123

In [1]:
# Tu código aquí ...
a = {1.0,2.0,3.0,4.0,5.0}
print(a)
type(a)

set

<font color='green'>Fin tarea</font>

## Tipos de datos variados

In [28]:
# set de enteros (int)

my_set = {1, 2, 3}
print(my_set)

# set detipos variados

my_set = {1.0, "Hello", (1, 2, 3)}   # float, string y tuple
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

## Operaciones matemáticas

Los objetos 'sets' también admiten operaciones matemáticas como unión, intersección, diferencia y diferencia simétrica.

In [29]:
a = {1, 2, 3, 4, 5, 6}
b = {4, 5, 6, 7, 8, 9, 10}

In [30]:
# Unión: usa el operador | o el método union()

a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
# Intersección: usa el operador & o el método intersection()

a & b

{4, 5, 6}

In [33]:
a.intersection(b)

{4, 5, 6}

In [34]:
# Diferencia: usa el operador - o el método difference()

a - b

{1, 2, 3}

In [35]:
a.difference(b)

{1, 2, 3}

In [36]:
b - a

{7, 8, 9, 10}

In [37]:
b.difference(a)

{7, 8, 9, 10}

In [38]:
# Diferencia simétrica: usa el operador ^ o el método symmetric_difference()
a ^ b

{1, 2, 3, 7, 8, 9, 10}

In [39]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9, 10}

## <font color='green'>Tarea:</font> Operaciones sobre conjutos (sets)
En la siguiente celda hay dos conjuntos con los personajes del programa de televisión de Riverdale: "A" y "B" <br>
Haz lo siguiente:
* agregar un nuevo personaje en el conjunto 'A'
* eliminar un personaje de set 'B'
* imprimir la intersección entre 'A' y 'B'
* imprimir la unión entre 'A' y 'B'

TIPs:
1. Utiliza el método add() para agregar un elemento para establecer 'A'
2. Utiliza el método discard() para eliminar un elemento para establecer 'B'
3. Utiliza la función print() para imprimir los métodos de intersección() y unión()

In [43]:
A = {'Josie', 'Archie', 'Jughead', 'Cheryl', 'Kevin'}
B = set(['Veronica', 'Betty', 'Cheryl', 'Fred', 'Melody', 'Josie'])

In [45]:
# Tu código aquí ...
A.add("Michael Scott")
A

{'Archie', 'Cheryl', 'Josie', 'Jughead', 'Kevin', 'Michael Scott'}

In [46]:
B.pop()

'Josie'

In [47]:
A & B

{'Cheryl'}

In [48]:
A | B

{'Archie',
 'Betty',
 'Cheryl',
 'Fred',
 'Josie',
 'Jughead',
 'Kevin',
 'Melody',
 'Michael Scott',
 'Veronica'}

<font color='green'>Fin tarea</font>

## Membresía (Membership)

In [49]:
a

{1, 2, 3, 4, 5, 6}

In [50]:
print(f'{a}')

{1, 2, 3, 4, 5, 6}

In [52]:
2 in a

True

In [53]:
# Lo mismo pero usando la función print()

print(2 in a)
print(f'{2 in a}')

True
True

In [54]:
'2' in a

False

# <font color='blue'>Tiempo de revisión grupal</font>
La **Bitácora Grupal** es la herramienta de evaluación de este curso. La misma estará conformada por todos los **Notebooks Grupales** de cada una de las clases y módulos del curso. Los grupos de trabajo deben desarrollarla de forma colaborativa y creativa.

Rúbrica de la **Bitácora Grupal** y de los **Notebook Grupal** que la componen:
* El notebook se ve ordenado y con una secuencia lógica y limpia.
* El notebook no tiene celdas en blanco innecesarias.
* El notebook no tiene celdas con errores, salvo aquellas en las que explícitamente queremos mostrar un error.
* Todos los ejercicios propuestos están correctamente desarrollados.
* Los ejercicios tiene comentarios y reflexiones del grupo.
* El notebook tiene abundantes comentarios explicativos del código.
* El notebook tiene una sección adicional, creada por el grupo, con experimentos de los alumnos relativos al contenido del mismo.
* La Bitácora Grupa, y por ende los notebooks que la componen, tiene aspectos creativos y novedoso que la diferencian significativamente de las de los demás grupos.