## Este es el ejericio Final de la sección de random forest.

Can we predict the maximum temperature tomorrow for Seattle, Washington given one year of historical data?

Los datos que tenemos disponibles son las temperaturas máximas en Seattle de la Administración Nacional Oceánica y Atmosférica (NOAA)[Climate Data Online Tool](https://www.ncdc.noaa.gov/cdo-web/).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Cargando la data

In [3]:
import pandas as pd
#path = '/content/drive/MyDrive/Cursos/TalentoDigital/Modulo 5- Aprendizaje Supervizado/6. Modelos de Ensamblado/EjercicioFinal/'

features = pd.read_csv('temps.csv')
features.head(5)

   year  month  day  week  temp_2  temp_1  average  actual  friend
0  2016      1    1   Fri      45      45     45.6      45      29
1  2016      1    2   Sat      44      45     45.7      44      61
2  2016      1    3   Sun      45      44     45.8      41      56
3  2016      1    4   Mon      44      41     45.9      40      53
4  2016      1    5  Tues      41      40     46.0      44      41

### Visualizando la data

1. year: 2016 para todos los puntos de datos
2. month: número para el mes del año
3. day: número para el día del año
4. weak: día de la semana como una cadena de caracteres
5. temp_2: temperatura máxima 2 días antes
6. temp_1: temperatura máxima 1 día antes
7. promedio: temperatura máxima promedio histórica
8. real: medición de temperatura máxima
9. amigo: la predicción de tu amigo, un número aleatorio entre 20 por debajo del promedio y 20 por encima del promedio

In [4]:
print('La forma de la data es:', features.shape)

La forma de la data es: (348, 9)

In [5]:
# Estadistica descriptiva
features.describe()

,year,month,day,temp_2,temp_1,average,actual,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.511494,62.560345,59.760632,62.543103,60.034483
std,0.0,3.498380,8.772982,11.813019,11.767406,10.527306,11.794146,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,71.000000
max,2016.0,12.000000,31.000000,92.000000,92.000000,77.400000,92.000000,95.000000

In [11]:
# Convertimos a date
import datetime

years = features['year']
months = features['month']
days = features['day']

# List and then convert to datetime object
dates = [str(int(year)) + '-' + str(int(month)) + '-' + str(int(day)) for year, month, day in zip(years, months, days)]
# Se genera una lista.
dates = [datetime.datetime.strptime(date, '%Y-%m-%d') for date in dates]

In [8]:

import matplotlib.pyplot as plt

%matplotlib inline

# Set the style
#plt.style.use('fivethirtyeight')

In [ ]:
# Realice algunos graficos de linea utilizando temperature y algunas de las variables independeientes

### Realicemos un one-hot-encodig

Tomamos esto

| week |
|------|
| Mon  |
| Tue  |
| Wed  |
| Thu  |
| Fri  |
| Sat  |
| Sun  |

Y lo convertimos a esto:

| Mon | Tue | Wed | Thu | Fri | Sat | Sun |
|-----|-----|-----|-----|-----|-----|-----|
| 1   | 0   | 0   | 0   | 0   |  0  |  0  |
| 0   | 1   | 0   | 0   | 0   |  0  |  0  |
| 0   | 0   | 1   | 0   | 0   |  0  |  0  |
| 0   | 0   | 0   | 1   | 0   |  0  |  0  |
| 0   | 0   | 0   | 0   | 1   |  0  |  0  |
| 0   | 0   | 0   | 0   | 0   |  1  |  0  |
| 0   | 0   | 0   | 0   | 0   |  0  |  1  |

In [10]:
# Realice un One-hot encode.
features

     year  month  day   week  temp_2  temp_1  average  actual  friend
0    2016      1    1    Fri      45      45     45.6      45      29
1    2016      1    2    Sat      44      45     45.7      44      61
2    2016      1    3    Sun      45      44     45.8      41      56
3    2016      1    4    Mon      44      41     45.9      40      53
4    2016      1    5   Tues      41      40     46.0      44      41
..    ...    ...  ...    ...     ...     ...      ...     ...     ...
343  2016     12   27   Tues      42      42     45.2      47      47
344  2016     12   28    Wed      42      47     45.3      48      58
345  2016     12   29  Thurs      47      48     45.3      48      65
346  2016     12   30    Fri      48      48     45.4      57      42
347  2016     12   31    Sat      48      57     45.5      40      57

[348 rows x 9 columns]

### Los convertimos a np array. 

Esto para entregarlo al metodo con el formato correcto.

In [ ]:
import numpy as np

# La variable que queremos predecir. 
labels = np.array(features['actual'])


# La removemos del dataset original.
features= features.drop('actual', axis = 1)

# Guardamos la lista de variables independientes. 
feature_list = list(features.columns)

#  convertimos las caracteristicas a numpy arrayConvert to numpy array
features = np.array(features)

### Conjunto de entrenamiento y validación.

In [ ]:
# Genere un conjunto de entrenamiento y validación.

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (261, 14)
Training Labels Shape: (261,)
Testing Features Shape: (87, 14)
Testing Labels Shape: (87,)

### Entrenando el modelo

In [ ]:
# Entrene el modelo

### Realice las predicciones

In [ ]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.83 degrees.

### Determine el performance

In [ ]:
# Determine el performance del modelo.

Accuracy: 93.99 %.

### Modifique algunos hyperparámetros parámetros

### Determine la importancia de las variables (rf.feature_importances_)

Realice un grafico de barras, por ejemplo.

Pruebe utilizando menos variables, como varia el performance del modelo.

### Realice una comparación con los valores predichos y los actuales. 

Utilice por ejemplo un grafico de lineas.