# <font color='blue'>**Proyecto Final: Obtención, Preparación y Análisis de Datos**</font>

Normalmente, los proyectos de ciencia de datos, comienzan con estadísticas descriptivas para tener una idea de las propiedades del conjunto de datos que se está trabajando. Afortunadamente, es fácil obtener estas estadísticas con las estructuras de datos de **Pandas**.

# <font color='blue'>**Estadística Descriptiva con la Base de Datos Iris**</font>

En este proyecto, deberán implemnetar el cálculo de varias estadísticas descriptivas para el clásico <a href="https://en.wikipedia.org/wiki/Iris_flower_data_set">conjunto de datos de iris</a>.

El siguiente código, carga los paquetes necesarios y también el conjunto de datos iris.

**load_iris()** carga en un objeto que contiene el conjunto de datos de iris.

In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.datasets import load_iris   

iris_obj = load_iris()

## <font color='green'>**Parte 1: Generar el dataframe de Iris**</font>

Basado en la estructura del objeto **iris_obj**, convierta este en un dataframe.

In [4]:
#Solución
iris = DataFrame(iris_obj.data, columns = iris_obj.feature_names)

In [7]:
iris['species'] = iris_obj.target

                                            sepal length (cm)  \
species petal length (cm) petal width (cm)
0       1.4               0.2                             5.1
                          0.2                             4.9
        1.3               0.2                             4.7
        1.5               0.2                             4.6
        1.4               0.2                             5.0
...                                                       ...
2       5.2               2.3                             6.7
        5.0               1.9                             6.3
        5.2               2.0                             6.5
        5.4               2.3                             6.2
        5.1               1.8                             5.9

                                            sepal width (cm)
species petal length (cm) petal width (cm)
0       1.4               0.2                            3.5
                          0.2                            3.0
        1.3               0.2                            3.2
        1.5               0.2                            3.1
        1.4               0.2                            3.6
...                                                      ...
2       5.2               2.3                            3.0
        5.0               1.9                            2.5
        5.2               2.0                            3.0
        5.4               2.3                            3.4
        5.1               1.8                            3.0

[150 rows x 2 columns]

## <font color='green'>**Fin Parte 1**</font>

## <font color='green'>**Parte 2: Modificar y describir el dataframe de Iris**</font>

1. Reemplace los valores de la columna "species" por los siguientes valores:
  * "setosa" = 0
  * "versicolor" = 1
  * "virginica" = 2

2. Agrupe las muestras por especies
3. Sin usar el método **describe()**, calcule los estadísticos básicos de la muestra:
  * cantidad de elementos no nulos
  * media
  * varianza
  * Desviación estándar
  * Percentiles y cuartiles
  * Rango inter-cuartílico
  * Valores máximos y mínimos
  * Rango (diferencia entre el máximo y el mínimo)
4. Repita el análisis anterior, pero muestre sus resultados por columnas y especies.
5. Compare sus resultados usando el metodo **describe()** por columnas y por especies
6. Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase

In [23]:
iris.set_index(['species','petal length (cm)','petal width (cm)'])

                                            sepal length (cm)  \
species petal length (cm) petal width (cm)
0       1.4               0.2                             5.1
                          0.2                             4.9
        1.3               0.2                             4.7
        1.5               0.2                             4.6
        1.4               0.2                             5.0
...                                                       ...
2       5.2               2.3                             6.7
        5.0               1.9                             6.3
        5.2               2.0                             6.5
        5.4               2.3                             6.2
        5.1               1.8                             5.9

                                            sepal width (cm)
species petal length (cm) petal width (cm)
0       1.4               0.2                            3.5
                          0.2                            3.0
        1.3               0.2                            3.2
        1.5               0.2                            3.1
        1.4               0.2                            3.6
...                                                      ...
2       5.2               2.3                            3.0
        5.0               1.9                            2.5
        5.2               2.0                            3.0
        5.4               2.3                            3.4
        5.1               1.8                            3.0

[150 rows x 2 columns]

In [24]:
iris.groupby(['species','petal width (cm)']).count()

                          sepal length (cm)  sepal width (cm)  \
species petal width (cm)
0       0.1                               5                 5
        0.2                              29                29
        0.3                               7                 7
        0.4                               7                 7
        0.5                               1                 1
        0.6                               1                 1
1       1.0                               7                 7
        1.1                               3                 3
        1.2                               5                 5
        1.3                              13                13
        1.4                               7                 7
        1.5                              10                10
        1.6                               3                 3
        1.7                               1                 1
        1.8                               1                 1
2       1.4                               1                 1
        1.5                               2                 2
        1.6                               1                 1
        1.7                               1                 1
        1.8                              11                11
        1.9                               5                 5
        2.0                               6                 6
        2.1                               6                 6
        2.2                               3                 3
        2.3                               8                 8
        2.4                               3                 3
        2.5                               3                 3

                          petal length (cm)
species petal width (cm)
0       0.1                               5
        0.2                              29
        0.3                               7
        0.4                               7
        0.5                               1
        0.6                               1
1       1.0                               7
        1.1                               3
        1.2                               5
        1.3                              13
        1.4                               7
        1.5                              10
        1.6                               3
        1.7                               1
        1.8                               1
2       1.4                               1
        1.5                               2
        1.6                               1
        1.7                               1
        1.8                              11
        1.9                               5
        2.0                               6
        2.1                               6
        2.2                               3
        2.3                               8
        2.4                               3
        2.5                               3

## <font color='green'>**Fin Parte 2**</font>

# <font color='blue'>**Análisis de Datos con Base de Datos Titanic**</font>

Para este probleme utilizaremos la base de datos "titanic". Para cargarla debe usar los siguientes comandos:

```
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)
```
Considere sólo las siguientes variables: survived, pclass, sex, age, fare y embarked.

## <font color='green'>**Parte 3: Limpieza de Datos**</font>

1. Reemplace los valores faltantes para la columna edad por el valor promedio de la muestra.
2. Elimine cualquier otra fila en la que falten datos

In [ ]:
#Solución

## <font color='green'>**Fin Parte 3**</font>

## <font color='green'>**Parte 4: Examinando y Entendiendo la Data**</font>

1. Entregar la información correspondiente a la la tasa de supervivencia promedio agrupada por sexo y clase del pasajero.
2. Genere una tabla que muestre la cantidad de personas agrupadas por sexo y clase.
3. Muestre la misma información del punto 1, pero la cantidad de sobrevivientes.

In [ ]:
#Solución

Hasta ahora hemos examinado las tasas de supervivencia según el sexo y la clase de pasajeros. Otro factor que podría haber influido en la supervivencia es la edad. **¿Los niños varones tenían tanta probabilidad de morir como las mujeres en general?** Podemos investigar esta pregunta mediante la indexación múltiple, o pivotando en más de dos variables, agregando otro índice.

Divida la información de la columna "age" en intervalos, creando así una nueva categoría que se puede utilizar para agrupar. Divida el conjunto en intervalos de (0, 12], (12, 18] y (18, 80].

4. Genere la tabla que le ayude a responder la pregunta anterior (considerando los rangos definidos).
5. Para una mejor interpretación de la información anterior, genere una tabla con el número de entradas por cada grupo.

In [ ]:
#Solución

Pandas también admite la indexación múltiple en las columnas. Como ejemplo, considere el precio de los boletos de un pasajero. Esta es otra característica continua que se puede discretizar. Divida los precios en 2 cuantiles iguales (baratos y caros). Algunos de los grupos resultantes podrían estar vacíos; para mejorar la legibilidad de la tabla use un guión en las casillas vacías.

6. Genere una tabla que nos permita ver el efecto del precio de los tickets.

In [ ]:
#Solución

## <font color='green'>**Fin Parte 4**</font>

## <font color='green'>**Parte 5: Análisis de una Hipótesis**</font>

Supongamos que alguien afirma que la ciudad desde la que se embarcó un pasajero tuvo una gran influencia en la tasa de supervivencia del pasajero. Investigue esta afirmación.

1. Verifique las tasas de supervivencia de los pasajeros según el lugar desde donde se embarcaron (indicadas en la columna "embarked").

2. Cree una tabla dinámica para examinar las tasas de supervivencia según el lugar de embarque y el género.

3. ¿Qué le sugieren estas tablas sobre la importancia de dónde se embarcaron las personas para influir en su tasa de supervivencia? Examine el contexto del problema y explique lo que cree que esto realmente significa.

4. Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.

In [ ]:
#Solución

## <font color='green'>**Fin Parte 5**</font>